.container{
    background-image: url("../assets/Atreus.jpg");
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    padding-top:10px ;
}
img{
    height: 100%;
    width: 50%;
}
.container h1{
    text-align: center;
    padding: 50px;
}
.container p{
    padding-right:50px ;
    font-size: medium;
}