#video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.hero{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.hero .content{
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 62vh;
}

.hero .content h1{
    font-size: 4rem;
    color: #fff;
}

.hero p{
    font-size: 0.6rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    color: #fff;
}
.hero .btn {
    margin: 1rem .2rem;
}
@media screen and (max-width:640px) {
    .content h1{
        font-size: 1rem;
    }
    .content p{
        font-size: 0.4rem;
        margin-bottom: 1.6rem;
    }
}
.content{
    padding-bottom: 20px;
}